name: Python workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - uses: actions/checkout@v4
    - name: Send greeting
      run: |
        python3 abc.py version